.LeftColumn {
    float: left;
    width: 190px;
    height: auto;
    min-height: 300px;
    margin: 10px 0 30px 0;
}

.leftname {
    height: 25px;
    width: 156px;
    padding: 6px 0 0 30px;
    color: #114165;
    font: 12px/13px Verdana, Arial, "Helvetica Neue Cyr Roman";
}

.first, .second, .third {
    height: auto;
    width: 180px;
    padding: 0 0 0 3px;
    margin: 10px 0 10px 0;
}

.LeftColumn span {
    text-transform: uppercase;
}

.LeftColumn p {
    padding: 7px 0 0 32px;
    display: block;
    width: 118px;
    height: 21px;
    color: #114165;
    font: 12px/13px Verdana, Arial, "Helvetica Neue Cyr Roman";
    text-transform: uppercase;
}


.LeftColumn a {
    display: block;
    width: 130px;
    height: 14px;
    padding: 1px 0 0 10px;
    margin: 10px 0 0 30px;
    color: #465961;
    font: 12px/13px Verdana, Arial, "Helvetica Neue Cyr Roman";
    font-weight: normal;
}

.LeftColumn a:hover {
    text-decoration: underline;
    font-style: italic;
    font-weight: bold;
}

.CentralColumn {
    float: left;
    margin: 0 2px 30px;
    padding: 0 0 10px 0px;
    width: 526px;
    height: auto;
    background-image: url(../img/background_cc.jpg);
    background-repeat: no-repeat;
}

.item {
    float: left;
    width: 140px;
    height: 180px;
    text-align: center;
    margin: 15px 17px;
}

.company {
    color: #206988;
    font: 14px/14px Verdana, Arial, "Helvetica Neue Cyr Roman";
}

.model {
    margin: 0 0 3px 0;
    color: #1f2528;
    height: 26px;
    font: 11px/13px Verdana, Arial, "Helvetica Neue Cyr Roman";
}

.image {
    text-align: center;
    display: table;
    width: 140px;
    height: 129px;
    background-color: #ffffff;
    border-radius: 15px;
}

.image a {
    display: table-cell;
    vertical-align: middle;
}

.image a img {
    max-width: 136px;
}

.price {
    margin: 5px 0 0 0;
    color: #114165;
    font: bold 13px/13px Verdana, Arial, "Helvetica Neue Cyr Roman";
}

.clearfix:after {
    content: "";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0;
}

.RightColumn {
    float: left;
    width: 180px;
    height: auto;
    min-height: 300px;
    margin: 10px 0 30px 10px;
}

.title {
    text-transform: uppercase
}

.rfirst, .rsecond {
    height: auto;
    width: 180px;
    padding: 0 0 0 3px;
    margin: 10px 0 10px 0;
}

.RightColumn p {
    padding: 7px 0 0 32px;
    display: block;
    width: 118px;
    height: 21px;
    color: #114165;
    font: 12px/13px Verdana, Arial, "Helvetica Neue Cyr Roman";
}

.choise button {
    width: 80px;
    height: 25px;
    background-color: #124569;
    color: #ffffff;
    border-radius: 10px;
    margin-left: 40px;
}