body {
    background-image: url(../img/Background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Helvetica Neue Cyr Roman", Tahoma, sans-serif;
}

.wrapper {
    width: 1215px;
    margin: 0 auto;
}

