$font-UbMed             : 'Ubuntu Medium', arial;
$font-UbLight           : 'Ubuntu Light', arial;
$font-UbCon             : 'Ubuntu Condensed', sans-serif;
$font-Arial             :  normal, Arial, sans-serif;
$white                  :  #fff;
$nav-color              :  #2B2E34;
$menu-border            :  1px solid #17191C;
$wrap-black             :  #2B2E34;
$wrap-grey              :  #F6F6F6